@import url('https://fonts.cdnfonts.com/css/maximum-impact');
body {
    font:400 'Open Sans', Helvetica;
}
h1,
h5
h2,
h3,
h4,
.h1-header,
.dropdown-item,
.navbar-dark .navbar-nav .nav-link {
    font-family: 'Impact', sans-serif;
    color: rgb(210, 23, 23);
}

a {
    text-decoration: none;
    color: rgb(180, 0, 0);
}
.modal {
    width: 500px;
    height: 100%;
    position: fixed !important;
    left: 50%;
    top: 20%; 
    margin-left: -100px;
    margin-top: -100px;
 }
#history_Modal {
    overflow: auto; 
}
.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: scroll;
}

.navbar-dark .navbar-toggler,
.navbar-toggler-icon {
    color: rgb(0, 255, 119);
    border-color: rgba(249, 9, 9, 0);
    filter: invert(100%);
}


.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 0.5rem;
}


.navbar-dark .navbar-nav .nav-link {

    font-size: 1.5rem;
}

.h1-header {
    font-size: 280%;
}

.h1-header {
    text-transform: uppercase;
}

h1,
h2 {
    font-weight: bold;
}


.card {
    height: 100%;
    background-color: #ffffffd3;

}


/* #history_Modal .table-responsive{
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;

} */
.sold_out {
    color: rgba(0, 162, 255, 0.3)
}

.available {
    color: rgba(90, 138, 97, 0.274)
}

.upcoming {
    color: rgba(255, 217, 0, 0.258)
}


.btn {
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover,
.btn.btn-secondary,
.btn.btn-outline-secondary:hover {
    color: #ffffff;
    background-color: #8d0404;

}

.btn.btn-primary:hover {
    background: var(--secondary);
    border-color: var(--secondary);
    background-color: rgb(123, 61, 161);
}

.btn.btn-secondary:hover {
    background: var(--primary);
    border-color: var(--primary);
}







/* Carousel */

#MiCarousel{
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-box-shadow: 10px 10px 38px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 38px -13px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 38px -13px rgba(0,0,0,0.75);
}
.carousel-img{
    background-color: #000;
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;    
    z-index: 1;
    -webkit-clip-path: polygon(0 0, 96% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
    opacity: 0.8;
}
form .page-section{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #d9d9d9;
    width: 50%;
    margin: auto;
    margin-top: 50px;
}
.page-section input, .page-section textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
}

label {
    font-weight: bold;	
}
@media only screen and (max-width: 600px) {
    form {
        width: 80%;
    }
}

.div-r{
    margin-top: 70px;
    padding: 50px;
    z-index: 2;
}

.carousel-title{
    font-size: 80px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}


div.form-label-contact-input {
    color: white;
}
  
div.form-field-contact-input {
    color: black !important;
    font-size: 40px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
    z-index: 3;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--dark);
    border: 12px solid var(--dark);
    border-radius: 2rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item .carousel-img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* DROPDOWN CART */

a.nav-link .bi-cart-fill:after{
    content:attr(value);
    font-size:12px;
    background: white;
    border-radius:50%;
    padding:3px;
    position:relative;
    left:-8px;
    top:-10px;
    opacity:0.9;
    }


.page-section {
    margin-top: 5%;



}


.checked {
    color: rgb(255, 22, 22);
}

.AClass{
    right:0px;

    border: none;
    background: none;
    position: absolute;
}
ul.dropdown-cart{
    border-color: rgb(119, 119, 119);
    border-radius: 0.6rem;
    box-shadow: 10px 10px 38px -13px rgb(119, 119, 119, 0.5);
    min-width: 250px;
}
ul.dropdown-cart li .item{
    
    color:white;
    display:block;
    padding: 0px 10px;
    margin: 0px 0;
    
}

ul.dropdown-cart li .item:hover{
    color: black;
    background-color:#f3f3f3;
}

ul.dropdown-cart li .item:hover .item-right button {
    color: #8d0404;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
ul.dropdown-cart li .item-left span.item-info span.item-dropdown-price {
    color: red;
    font-weight: bold;
}
ul.dropdown-cart li .item-left{
    float:left;
    
}
ul.dropdown-cart li .item-left img{
    float: left;
}
ul.dropdown-cart li .item-left span.item-info{
    width: 100px;
    word-wrap: break-word;
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    color: red;
    margin-top:14px;
}
.form-select,
.example {
    border: 1px solid #8b1e1e;
}

/* CART */
td input[type='number']{
    width: 50px;
} 
table#cart thead tr{
    height: 80px;
}




.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #8b1e1e;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}





.container.form .form-text .h-100,
.container.form .form-form .h-100 {
    padding: 6rem 0;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
}


.footer-contact {
    text-decoration: none;
    color: rgb(255, 255, 255);
}



.form-control,
.form-check {

    margin-bottom: 1rem;

}


form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}



.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.907);
    background-clip: padding-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1.0rem;
    outline: 0;


}

.login-section {
    margin-left: auto; 
    margin-right: 0;
}

.pagination {
    justify-content: center;
    text-align: center;
    font-size: 18px;
}
