<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="">
    <meta name="description" content="Coffee Shop app">
    <meta name="application-name" content="Cyrus Coffee Shop">
    <meta name="author" content="Hoang Minh Nguyen">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{'../static/CSS/style.css'}}" />
    

    <title>Cyrus Coffee Shop</title>
</head>

<body>
    <!-- header -->
    <header>
        
        <!-- Navbar -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark shadow-lg">
            
            <!-- Container wrapper -->
            <div class="container-fluid">
            <!-- Navbar brand -->
            <!-- LOGO -->
            <div>
                <a class="navbar-brand" href="{{ url_for('main.index') }}"><img
                        src="{{'../static/img/' + 'logo.png'}}" height="100" /></a>

            </div>
        
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- Link -->
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{{ url_for('main.show_products') }}">Products</a>
                    </li>
                    {% if current_user.role|lower == "admin" %}
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{{ url_for('product.create_product') }}">Create Product</a>
                    </li>
                    {% endif %}
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{{ url_for('main.contact_us') }}">Contact Us</a>
                    </li>
                    
                    
                  </ul>
            
        
                <!-- Icons -->
                <ul class="navbar-nav d-flex flex-row me-1">
                    

                    
                    {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown me-3">
                        <a
                          class="nav-link dropdown-toggle"
                          href="#"
                          id="navbarDropdown"
                          role="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                        Hi, {{ current_user.name }} <i class="bi bi-person-circle"></i>
                        </a>
                        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            <li class="dropdown-item">
                                <a class="nav-link" href="{{ url_for('auth.view_profile') }}"><i class="bi bi-person-check"> Profile </i></a>

                            </li>
                            <li class="dropdown-item">
                                <a class="nav-link" href="{{ url_for('cart.view_cart') }}"><i class="bi bi-bag-fill"> View Cart </i></a>
                                
                            </li>
                            
                            {% if current_user.role|lower == "admin" %}
                            <li class="dropdown-item">
                                <a class="nav-link" href="{{ url_for('product.create_product') }}"><i class="bi bi-plus-square"> Create product </i></a>
                            </li>
                            {% endif %}

                            <li class="dropdown-item">
                                <a class="nav-link" href="{{ url_for('auth.logout') }}"><i class="bi bi-box-arrow-right"> Log out </i></a>
                            </li>
                            
                            
                        </ul>
                    </li>
                    
                    
                    
                    {% else %}
                    <li class="nav-item me-1">
                        <a type="button" class="btn btn-primary nav-item" href="{{ url_for('auth.register') }}">Sign up</a>
                    </li>
                    <li class="nav-item me-1">
                        <a type="button" class="btn btn-primary nav-item" href="{{ url_for('auth.login') }}">Log In</a>
                    </li>
                    
                    
                    {% endif %}

                    {% if session.get('session_shopping_cart') %}
                    {% set shopping_cart = session['session_shopping_cart']['Shopping_cart'] %}
                    {% set shopping_cart_length = shopping_cart|length %}
                    {% else %}
                    {% set shopping_cart = None %}
                    {% set shopping_cart_length = 0 %}
                    {% endif %}
                    


                    
                    <!-- CART -->
                    <li class="nav-item me-3 dropdown me-lg-0">
                        <a class="nav-link"
                        href="#"
                        id="cartDropDown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"><i class="bi bi-cart-fill" style="font-size:24px" value={{ shopping_cart_length }}></i></a>
                        <!-- <ul class="dropdown-menu bg-dark" aria-labelledby="cartDropDown">
                            <li class="dropdown-item">
                                Item 1
                            </li>

                            <li class="dropdown-item">
                                Item 2
                            </li>
                            
                            
                        </ul> -->
                        
                        

                            <ul class="dropdown-menu dropdown-cart bg-dark" role="menu" aria-labelledby="cartDropDown">
                                <li class="text-light text-center">
                                    <h6>You have {{ shopping_cart_length }} items in cart</h6></li>
                                    <div class="dropdown-divider"></div>
                                {% if shopping_cart!=None %}
                                {% for item in shopping_cart %}
                                {% set remove_url = url_for( "cart.remove_from_cart", id=item['product_dict']['product_id']) %}
                                <form id="dropdown_cart_remove_item" method="POST" action="{{ remove_url }}">
                                <li>
                                    <span class="item">
                                        <span class="item-left">
                                            <img src="{{ url_for('static', filename='/img/products/' + item['product_dict']['image'])}}" alt="" width="70"/>
                                            <span class="item-info">
                                                <span class="item-dropdown-name"><a href="{{url_for('product.show', id=item['product_dict']['product_id'])}}"><strong>{{ item['product_dict']['name']|truncate(25) }}</strong></a></span>
                                                <span class="item-dropdown-price">${{ item.total }}</span>
                                                <span class="item-quantity">Quantity: {{ item.quantity }}</span>
                                            </span>
                                        </span>
                                        <span class="item-right">
                                            <input type="hidden" name="product_id_remove" value={{item['product_dict']['product_id']}}>
                                            <button type="submit" class="btn pull-right" id="remove-from-dropdown-cart-submit" name="remove-from-dropdown-cart-submit"><span><i class="bi bi-x-square-fill"></i></span></button>
                                        </span>
                                    </span>
                                </li>
                                </form>
                                {% endfor %}
                                

                                <div class="dropdown-divider"></div>
                                    <li class="text-light text-center">
                                        <h6>Cart total: ${{ session['session_shopping_cart']['cart_total'] }}</h6>
                                    </li>
                                {% else %}
                                <li class="text-light text-center">
                                    <a href="{{url_for('main.show_products')}}">Add more products here</h6>
                                </li>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <li class="text-center"><a href="{{ url_for('cart.view_cart') }}" class="card-btm btn btn-primary py-1 px-2"> View Cart</a></li>
                            </ul>
                        </li>
                        </ul>
                               
                    

                    </li>
                    
                  
                
                </ul>
                <!-- Search -->
                <form name="search" class="w-auto mt-3" method="POST" action="{{url_for('main.search_products')}}">
                    <div class="input-group">
                        <div class="form-outline">
                          <input type="search" id="product_search" name="product_search" class="form-control" placeholder="Search for products or category..."/>
                        
                        </div>
                        <span><button type="submit" class="btn btn-primary">
                            <i class="bi bi-search"></i>
                        </button></span>
                      </div>
                </form>
            </div>
            </div>
            <!-- Container wrapper -->
        </nav>
        





        
        {% block header %}
        {% endblock %}
    </header>
    {% block content %}
    {% endblock %}
    <!-- Footer Start-->
    <!-- Footer Start-->
    <section class="page-section bg-dark text-light p-5 shadow-lg">
        <footer>
            <div class="container-fluid col-xl-10 col-md-12 col-sm-12 col-xs-12 p-5">
                <div class="row g-0 d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-5 col-md-5 col-xs-12 mt-5">
                        <h4>About Us</h4>
                        <p>Hi coffee lovers! Welcome to Cyrus online coffee shop! We offer a wide selection of freshly-brewed coffees, espresso-based drinks, and more. Our coffee is carefully sourced from the finest locations around the world, and each cup is carefully crafted by our experienced baristas. Our coffee shop also offers a variety of delicious snacks to accompany your beverage. Enjoy a comfortable, relaxing atmosphere whether you are drinking coffee alone or with friends. We invite you to browse our menu and explore the perfect cup of coffee for you!
                        </p>
                    </div>
                    <div class="footer-contact col-xl-3 col-lg-5 col-md-5 col-xs-12 mt-5">
                        <h4>Contact Info</h4>
                        <p><a class="footer-contact" href="#">Phone: 04123123123</a></p>
                        <p><a class="footer-contact" href="#">Email: info@cyruscoffeeshop.com</a></p>
                    </div>
                    <div class="col-xl-3 col-lg-5 col-md-5 col-xs-12 mt-5">
                        <div class="footer-caption">
                            <div class="footer-tittle">
                                <h4>Newsletter</h4>
                                <div class="footer">
                                    <p>Join our newsletter to never miss the next big thing. </p>
                                </div>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="signup">
                                        <div class="row">
                                            <div class="col-8">
                                                <input id="" name=""placeholder="Enter Email">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-8">
                                                <a class="btn btn-primary"
                                                    onclick="alert('You are listed'); parent.location='{{ url_for('main.index')}}';">Send</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- footer-bottom area -->
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-xl-6 col-xl-12 mt-5">
                        <p>
                            Copyright All rights reserved
                        </p>
                    </div>
                </div>
            </div>


        </footer>
    </section>

    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

        <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>