{% extends 'base.html' %}

{% import "bootstrap/form.html" as wtf %}


{% block header %}
{% endblock %}

{% block content %}
<h2 class="text-danger">{{Message}}</h2>
<div class="" data-appear-top-offset="600"
    data-parallax="scroll" >
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="">
                    <h1>Cart</h1>
                    <ol class="tg-breadcrumb">
                        <li><a href="{{url_for('main.index')}}">Home</a></li>
                        <li class="tg-active">View Cart</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <form method="POST" action="{{url_for('cart.update_cart')}}">
    <table id="cart" class="table table-hover table-bordered table-striped">
        <thead class="table-secondary">
            <tr class="align-middle">
                <th class="align-middle text-center" style="width:10%"></th>
                <th style="width:42%">Product Name</th>
                <th style="width:13%" class="text-center">Price</th>
                <th style="width:8%" class="text-center">Quantity</th>
                <th style="width:19%" class="text-center">Total</th>
                <th style="width:8%"></th>
            </tr>
        </thead>
        <tbody>
            {% if session.get('session_shopping_cart') %}
            {% set isCartEmpty = False %}
            {% set cart_quantity = session['session_shopping_cart']['cart_quantity'] %}
            {% set cart_total = session['session_shopping_cart']['cart_total'] %}
            {% else %}
            {% set isCartEmpty = True %}
            {% endif %}

            {% if shopping_cart != None %}
            {% for item in shopping_cart %}
            {% set remove_url_cart = url_for( "cart.remove_from_cart", id=item['product_dict']['product_id']) %}

            
            
            <tr>
                
                <td>
                    <div class="row">
                        <div class="col-sm-2 hidden-xs"><img src="{{url_for('static', filename='/img/products/' + item['product_dict']['image'])}}" alt="Item" class="img-responsive"
                                width="80">
                        </div>
                        
                    </div>
                </td>
                <td class="align-middle">
                    <div class="col-sm-10 ">
                        <h4 class=""><a href="{{url_for('product.show', id=item['product_dict']['product_id'])}}">{{ item['product_dict']['name'] }}</a></h4>
                        
                    </div>
                </td>
                <td class="align-middle text-center" data-th="Price">${{ item['product_dict']['price'] }}</td>
                <td class="align-middle text-center">
                <span class="amount text-center"><input type="number" id="product_quantity" name="product_quantity{{ item['product_dict']['product_id'] }}" min="1" value={{ item['quantity'] }}></span> 
                </td>
                
                <td data-th="Subtotal" class="align-middle text-center">
                    ${{ item['product_dict']['price'] * item.quantity}}
                </td>
                <td class="actions align-middle text-center" data-th="">
                    <form action="{{remove_url_cart}}" method="POST"><button class="btn"
                        name="product_id_remove" type="submit"
                        formaction="{{remove_url_cart}}"
                        value={{item['product_dict']['product_id']}}><span><i class="bi bi-x-square-fill"></i></span></button>
                    </form>
                    
                </td>
                
            </tr>
            
            
            {% endfor %}
            {% endif %}
            
        </tbody>
        <tfoot>

            
            <tr>
                <td class="text-center"><strong>Total items: {{ shopping_cart_length }}</strong>
                </td>
                <td>
                    <a href="{{url_for('main.show_products')}}" class="btn btn-primary "><i class="bi bi-chevron-double-left"></i> Continue Shopping</a>
                    
                </td>
                
                <td colspan="2" class="hidden-xs text-center"> 
                    <p class="text-right"><strong> Total quantity: 
                        {{ cart_quantity }}
                    
                    </strong></p>
                    
                    <input type="submit" class="btn btn-primary" name="update_cart" value="Update cart">
                    
                    
                </td>
                
                <td class="hidden-xs text-center"><strong>Total:  
                    $ {{cart_total}}
                    </strong>
                </td>
                <p></p>
                <td>
                    {% if isCartEmpty %}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmCartModal" disabled>
                        Confirm Cart
                    </button>
                    {% else %}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmCartModal">
                        Confirm Cart
                    </button>
                    {% endif %}
                </td>
            </tr>
        </tfoot>
    </table>
    </form> 
</div>


<!-- Confirm Cart Modal -->
<div class="modal fade" id="confirmCartModal" tabindex="-1" aria-labelledby="confirmCartModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header float-right">
          <h5>Confirm Cart</h5>
        
        </div>
        <div class="modal-body">
            
  
  
          <div>
            
            
            <table class="table table-bordered">
    <thead>
        <tr class="align-middle">
            <th class="align-middle text-center">#</th>
            <th style="width:42%">Product Name</th>
            <th class="text-center">Price</th>
            <th class="text-center">Quantity</th>
            <th class="text-center">Total</th>
      </tr>
    </thead>
    <tbody>
            
            {% if shopping_cart != None %}
            {% for item in shopping_cart %}
           
            
            <tr>
                
                <td>
                    <div class="align-middle text-center">
                        {{loop.index}}
                    </div>
                </td>
                <td class="align-middle">
                    <div class="col-sm-10 ">
                        <h6 class="">{{ item['product_dict']['name'] }}</h6>
                        
                    </div>
                </td>
                <td class="align-middle text-center" data-th="Price">${{ item['product_dict']['price'] }}</td>
                <td class="align-middle text-center">
                    {{ item['quantity'] }}
                </td>
                
                <td data-th="Subtotal" class="align-middle text-center">
                    ${{ item['product_dict']['price'] * item.quantity}}
                </td>
                
            </tr>
            
            
            {% endfor %}
            {% endif %}
            
        </tbody>
        <tfoot>

            
            <tr>
                <td>
                </td>
                <td class="text-center">
                    <strong>Total items: {{ shopping_cart_length }}</strong>
                    
                </td>
                
                <td colspan="2" class="hidden-xs text-center"> 
                    <p class="text-right"><strong> Total quantity: 
                        {{ cart_quantity }}
                    
                    </strong></p>

                </td>
                
                <td class="hidden-xs text-center"><strong>Subtotal:  
                    ${{cart_total}}
                    </strong>
                </td>
            </tr>
        </tfoot>
  </table>
  
          </div>
  
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="{{url_for('cart.purchase')}}" class="btn btn-primary">Purchase</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}