{% extends 'base.html' %}

{% block header %}
{% endblock %}
{% block content %}


<!-- Carousel -->
<div class="container-fluid p-0 mb-5">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">

                <div id="MiCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for product in featured_products %}
                        {% if loop.index!=1 %}
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- <img class="w-100" src="{{'../static/img/' + '2.jpg'}}" alt="Image"> -->
                                    <div class="carousel-img" style="background-image: url('{{ url_for('static', filename = 'img/products/' + product[0].image)}}')" >
                                        <h1 class="carousel-title">{{product.category_name}}</h1>
                                    </div>
                                </div>
                                <div class="col-md-6 div-r">
                                    <h3><a href="{{ url_for('product.show', id = product[0].product_id) }}">{{product[0].name}}</a></h3>
                                    <hr>
                                    <p>{{product[0].description}}</p>
                                    <a type="button" class="btn btn-primary" href="{{ url_for('product.show', id = product[0].product_id) }}">More</a></h3>
                                </div>
                            </div>                                
                        </div>
                        {% else %}
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- <img class="w-100" src="{{'../static/img/' + '2.jpg'}}" alt="Image"> -->
                                    <div class="carousel-img" style="background-image: url('{{ url_for('static', filename = 'img/products/' + product[0].image)}}')" >
                                        <h1 class="carousel-title">{{product.category_name}}</h1>
                                    </div>
                                </div>
                                <div class="col-md-6 div-r">
                                    <h3><a href="{{ url_for('product.show', id = product[0].product_id) }}">{{product[0].name}}</a></h3>
                                    <hr>
                                    <p>{{product[0].description}}</p>
                                    <a type="button" class="btn btn-primary" href="{{ url_for('product.show', id = product[0].product_id) }}">More</a></h3>
                                </div>
                            </div>                                
                        </div>
                        {% endif %}
                        {% endfor %}
                        
                        

                    </div>
                    
                </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>



<!-- main -->
<section class="page-section bg-dark text-dark p-5 shadow-lg">
    <div class="container-fluid shadow col-xl-10 col-md-12">

            <!-- Cards -->
            <div class="row mx-auto g-3">
                <h1 class="text-center h1-header my-5">Latest Products</h1>
                {% for product in latest_products %}
                    
                <div class="col-xl-2 col-lg-4 col-md-5 col-sm-6 col-xs-12">
                    <div class="card">
                        <img src="{{ url_for('static', filename = 'img/products/' + product[0].image)}}" class="img-fluid">
                        <div class="card-body">
                            <h4 class="title"><a href="{{ url_for('product.show', id = product[0].product_id) }}">{{product[0].name}}</a></h4> 
                            
                            <h6 class="text">Price: ${{product[0].price}}</h6>
                            <p class="text">{{product.category_name}}</p>

                        </div>
                        <div class="card-footer ">
                            {% set url = url_for( "cart.add_to_cart", id=product[0].product_id) %}
                            <form method="POST" action="{{ url }}">
                                <div class="row text-center">
                                
                                    <input type="hidden" name="product_quantity" value=1>
                                    
                                    <button type="submit"
                                    class="btn btn-primary btn-sm"
                                    id="addToCart-1">
                                    <i class="bi bi-cart-fill"></i> ADD TO CART
                                    </button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </section>
    <!-- main End -->

    <!-- Large Card -->
    <section class="page-section bg-dark text-dark p-5 shadow-lg">
        <div class="container-fluid col-xl-10 col-md-12 col-sm-12 col-xs-12 ">
            <div class="row bg-dark g-0 ">
                {% for product in latest_product %}
                <h1 class="text-center h1-header my-5">BEST SELLER</h1>
                <div class="col-xl-8 col-lg-12">
                    <img class="img-fluid" src="{{ url_for('static', filename = 'img/products/' + product[0].image)}}" alt="" />
                </div>
                <div class="col-xl-4 col-lg-12 bg-light ">
                    <div class="p-4 ">

                        <h2><a href="{{ url_for('product.show', id = product[0].product_id) }}">{{product[0].name}}</a></h2>
                        <p class="lead">
                            {{product[0].description}}
                        </p>
                        <a name="button" type="button" href="{{ url_for('product.show', id = product[0].product_id)}}" class="btn btn-primary">More</a>
                        {% endfor %}
                    </div>
                </div>

        </div>
    </div>
</section>
{% endblock %}