{% extends 'GeneralBase.html' %}

{% block header %}
{% endblock %}
{% block content %}


<!-- Carousel -->
<div class="container-fluid p-0 mb-5">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="{{'../static/img/' + '2.jpg'}}" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 pt-5">
                                <h1 class="display-4 text-white mb-4">Next week Level Up</h1>
                                <a href="{{ url_for('event.show', id = '1') }}"
                                    class="btn btn-primary py-3 px-5 mt-5">See
                                    More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="{{'../static/img/' + '4.jpg'}}" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 pt-5">
                                <h1 class="display-4 text-white mb-4">This Weekend Rumbia</h1>
                                <a href="{{ url_for('event.show', id = '3') }}"
                                    class="btn btn-primary py-3 px-5 mt-5">See More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>



<!-- main -->
<section class="page-section bg-dark text-dark p-5 shadow-lg">
    <div class="container-fluid shadow col-xl-10 col-md-12">

            <!-- Cards -->
            <div class="row mx-auto g-3">
                <h1 class="text-center h1-header my-5">Latest Events</h1>
                {% for event in latest_events %}
                <div class="col-xl-2 col-lg-4 col-md-5 col-sm-6 col-xs-12">
                    <div class="card">
                        <img src="{{ url_for('static', filename = 'img/' + event.image)}}" class="img-fluid">
                        <div class="card-body">
                            <h3 class="title"><a href="{{ url_for('event.show', id = event.id) }}">{{event.name}}</a></h3> 
                            <p class="text">{{event.style}}</p>
                            <h5 class="title">Where</h5>
                            <p class="text">{{event.city + ", " + event.country}}</p>
                            <h5 class="title">When</h5>
                            <p class="text">{{event.date_end}}</p>
                            <a href="{{ url_for('event.show', id = event.id) }}" class="card-btm btn btn-primary py-1 px-2"> More</a>
                        </div>
                        <div class="{{'card-footer ' ~ event.status.lower() | replace(' ', '_')}}">
                            <small class="text-muted ">{{event.status}}</small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- main End -->

    <!-- Large Card -->
    <section class="page-section bg-dark text-dark p-5 shadow-lg">
        <div class="container-fluid col-xl-10 col-md-12 col-sm-12 col-xs-12 ">
            <div class="row bg-dark g-0 ">
                {% for event in latest_event %}
                <H1 class="text-center h1-header my-5">HOTTEST EVENT</H1>
                <div class="col-xl-8 col-lg-12">
                    <img class="img-fluid" src="{{ url_for('static', filename = 'img/' + event.image)}}" alt="" />
                </div>
                <div class="col-xl-4 col-lg-12 bg-light ">
                    <div class="p-4 ">
                        <h1><span class="text-danger">{{event.name}}</span></h1>
                        <p class="lead">
                            {{event.description}}
                        </p>
                        <a name="button" type="button" href="{{ url_for('event.show', id = event.id)}}" class="btn btn-primary">More</a>
                        {% endfor %}
                    </div>
                </div>

        </div>
    </div>
</section>
{% endblock %}