{% extends 'base.html' %}

{% import "bootstrap/form.html" as wtf %}

{% block header %}
{% endblock %}
{% block content %}

<div class="page-header">
    <h4>{{heading}}</h4>
</div>



<div class="container-fluid">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">x</button>
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

</div>



    
    <form class='page-section bg-dark text-dark p-5 shadow-lg' action="{{ url_for('auth.update_user') }}" method="POST">

        {{ form.hidden_tag() }}
        {{ form.user_name.label(class='text-light', value=current_user.user_name) }}
        {{ form.user_name(class='text-dark') }}
        {{ form.password.label(class='text-light') }}
        {{ form.password(class='text-dark') }}
        {{ form.email_id.label(class='text-light') }}
        {{ form.email_id(class='text-dark') }}
        {{ form.phone_number.label(class='text-light') }}
        {{ form.phone_number(class='text-dark') }}
        {{ form.address.label(class='text-light') }}
        {{ form.address(class='text-dark') }}
        {{ form.submit(class="btn btn-primary text-center") }}

    </form>



{% endblock %}