{% extends 'base.html' %}

{% import "bootstrap/form.html" as wtf %}

{% block header %}
{% endblock %}
{% block content %}

<!--Start content-->
<section class="page-section bg-dark text-light shadow-lg">

    <div class="container-fluid col-xl-6 col-xs-12 p-5">


        <!--Row 1-->
        <div class="row g-0 bg mb-5">
            <div class="header d-flex justify-content-center">
                <h1 class="my-5 h1-header">User History</h1>
            </div>
        </div>



        <!--Row 2-->
        <div class="row g-0">
            <div class=" d-flex justify-content-center col-md-5">
                <img class="img-fluid" src="{{url_for('static', filename='img/'+'user.svg')}}" alt="">
            </div>
            <div class="d-flex text-light mx-auto col-lg-4 col-md-4">
                <div class="m-lg-auto m-sm-0">

                    <h2 class="date mb-3">{{current_user.name}}</h2>
                    <P class="mb-1">Email: {{current_user.email}}</P>
                    <P class="mb-1">Address: {{current_user.address}}</P>
                    <P class="mb-1">Phone: {{current_user.phone_number}}</P>
                    <br>


                    <a type="button" class="btn btn-primary" href="{{ url_for('auth.update_user') }}">
                        Update Information
                    </a>
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#history_Modal" >
                        Cart
                    </button>
                    <!-- The Modal -->
                    <div class="modal modal-lg" id="history_Modal">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content text-dark">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h3 class="modal-title "> CART PRODUCTS</h3>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body bg-light">
                                    <h5 class=" text-center">Your orders</h5>
                                    <div class="row bg-light shadow p-2 mt-2">
                                        {% for cart in user_carts %}

                                        <div class="col-12 p-5 shadow-lg mt-2">
                                            <div class=" text-center">
                                                <p>CartID | {{cart.cart_id}}</p>
                                                <p>Quantity | {{cart.total_quantity}}</p>
                                                <p>Total | ${{cart.subtotal}}</p>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                              <th scope="col">Product Name</th>
                                                              <th scope="col">Price</th>
                                                              <th scope="col">Quantity</th>
                                                              <th scope="col">Subtotal</th>
                                                            </tr>
                                                          </thead>
                                                        <tbody>
                                                            {% for product in cart.cart_products %}
                                                            <tr>
                                                              <th scope="row">{{product.name}}</th>
                                                              <td>{{product.price}}</td>
                                                              <td>{{product.quantity}}</td>
                                                              <td>{{product.total}}</td>
                                                            </tr>
                                                            {% endfor %}
                                                          </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                       
                                        {% endfor %}
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        </div>             

      



    </div>
</section>
<!--end content-->

{% endblock %}