{% extends 'base.html' %}

{% import "bootstrap/form.html" as wtf %}


{% block header %}
{% endblock %}
{% block content %}
<h2 class="text-danger">{{Message}}</h2>
<!--Start main-->
<section class="page-section bg-dark text-light shadow-lg">
    
    <div class="container-fluid col-xl-10 col-xs-12 p-5">
        

        <!--Row 1-->
        <div class="row g-0 bg">
            <div class="header d-flex justify-content-center">
                <h1 class="my-5 h1-header">{{product.name}}</h1>
            </div>
        </div>



        <!--Row 2-->
        <div class="row g-0 bg-dark ">
            <div class="d-flex col-xl-5 col-lg-12"><img class="img-fluid"
                    src="../static/img/products/{{product.image}}" alt="">
            </div>
            <div class="d-flex col-lg-7 px-5 p-5">
                <div class="m-lg-auto m-sm-0">
                    <h2 class="date mb-3">{{product.date}}</h2>
                    <p class="mb-1">Price | ${{product.price}}</p>
                    <p class="mb-1">Status | {{product.status}}</p>
                    <p class="mb-1">Released Date | {{product.released_date}}</p>
                    <p class="mb-1">In stock | {{product.quantity}} products</p>
                    <p class="mb-1">Sold | {{product.sold_quantity}} products</p>
              
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <span style="background-color: #df1212" ><strong>Error</strong>: {{ message }}</span>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                    
                    
                    {% if product.status != "Available"%}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#product" disabled>
                        Get Product
                    </button>
                    {% else %}
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#product" >
                            Get Product
                        </button>
                    {% endif %}

    
                    

                    {%  if user.role|lower == "admin" %}
                    <a href="{{ url_for('product.update_product', id=product.product_id) }}" class="card-btm btn btn-primary py-1 px-2"
                    >Update Product</a>
                    <br>
                    <a href="{{ url_for('product.delete_product', id=product.product_id) }}" class="card-btm btn btn-primary py-1 px-2"
                    >Delete Product</a>
                    {% else %}
                    {% endif %}

                    <!-- The Modal -->
                    <div class="modal text-dark" id="product">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header mx-auto">
                                    <h3>{{product.name}}</h3>
                                    
                                </div>
                                <div class="modal-price mx-auto">
                                    <h5>Product Price | ${{product.price}}</h5>
                                </div> 
                                <!-- Modal body -->
                                <div class="container mt-3">
                                
                                        <div class="px-5 my-3">
                                            <p>Remaining Products: {{product.quantity}}</p>
                                            <input type="hidden" name="product_quantity" value="{{ productForm.product_quantity.data }}">
                                            {% set url = url_for( "cart.add_to_cart", id=product.product_id) %}
                                            <form method="POST" action="{{ url }}">
                                                <div class="row text-center">
                                                    <label for="product_quantity">Amount of products:</label>
                                                    <input type="number" id="product_quantity" name="product_quantity" min="1">
                                                    
                                                    <button type="submit"
                                                    class="btn btn-primary btn-sm"
                                                    id="addToCart-1">
                                                    <i class="bi bi-cart-fill"></i> ADD TO CART
                                                    </button>
                                                </div>
                                            </form>
                                            
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                </div>






            </div>
            
            
            
        </div>



        <section class="row g-0 bg">
            <div class="d-flex col-xl-12 p-5 justify-content-center">
                <div class="item_text text-center">
                    <h2>About this product</h2>
                    <p class="#">{{product.description}}</p>
                </div>
            </div>
        </section>
        





        
        <!--Row 3-->
        <section class="text-dark">
            <div class="row d-flex g-0">
                <div class="col d-flex justify-content-center">
                
                    <div class="col-xl-8 col-md-10 col-sm-12 col-xs-12">
                        <div class="card p-5">
                            <div class="mb-3">
                                <h1>Review</h1>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <h3>Write your comment</h3>
                            </div>
                            
                            {{wtf.render_form(form,"/product/{0}/comment".format(product.product_id))}} 

                            {% for comment in product.comment %}
                                {% if user.role|lower == "admin" %}
                                    <form action="{{ url_for('product.delete_comment', id=comment.comment_id)}}" method="POST">
                                        <div style="position:relative;">
                                            <button type="submit" class="AClass">
                                               <span><i class="bi bi-x-square-fill"></i></span>
                                            </button>
                                            <div class="d-flex flex-row mt-5 ">
                                                <div class="w-100 p-4 shadow-lg">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-row align-items-center">
                                                            <h5 class="h-comment">{{comment.users.name}}</h5>
                                                        </div> <small>{{comment.created_at.strftime('%d-%m-%Y %H:%M:%S')}}</small>
                                                    </div>
                                                    <p class="text-justify comment-text mb-0">{{comment.text}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    {% else %}
                                    <div class="d-flex flex-row mt-5 ">
                                        <div class="w-100 p-4 shadow-lg">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex flex-row align-items-center">
                                                    <h5 class="h-comment">{{comment.users.name}}</h5>
                                                </div> <small>{{comment.created_at.strftime('%d-%m-%Y %H:%M:%S')}}</small>
                                            </div>
                                            <p class="text-justify comment-text mb-0">{{comment.text}}</p>
                                        </div>
                                    </div>
                                    {% endif %}
                                    

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>


        </section>

    </div>
</section>
<!--end main-->


{% endblock %}